.rateCards{
   display:flex;
   flex-wrap: wrap;
   justify-content: center;   
}

.rates{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 5vh;
    margin: 2% 2% 2% 2%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    border-radius: 5px;
    
}